<h3 class="page-subtitle">New Requests</h3>

<!--Active Users Table-->
<div class="table-responsive">
  <div class="alert alert-danger" *ngIf="errorMessage != null">
    <p>{{errorMessage}}.</p>
  </div>
  <div class="alert alert-success" *ngIf="successMessage != null">
    <p>{{successMessage}}.</p>
  </div>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped media-library table-lg">
    <thead>
      <tr>
        <th></th>
        <th>Organization Name</th>
        <th>Email Address</th>
        <th>Phone</th>
        <th>Total Number Of Agents</th>
        <th>Number Of Months</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>
          <input type="checkbox" name="optradio" [checked]="user.organization.checkbox" (change)="user.organization.checkbox = !user.organization.checkbox">
          <label for="" class="radio-button__label"></label>
        </td>
        <td>{{user.organization.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.organization.totalNumberOfAgents}}</td>
        <td>{{user.organization.numberOfMonths}}</td>
      </tr>
    </tbody>
  </table>
</div>




<div class="row">
  <ul class="list-inline btns__list pull-right">
    <button (click)="acceptUsers()" class="btn btn-success text-uppercase">Accept</button>
    <button (click)="deleteUsers()" class="btn btn-danger text-uppercase">Delete</button>
  </ul>
</div>