<div class="container">
  <div class="card mt-30">
    <div class="row">
      <div class="col-md-6">
        <h3 class="card__subheading pb-5">Manual Payment for S-Blox Call Center</h3>
        <p class="card__desc">Collect manual of offlien payments. Also handles any free orders.</p>
      </div>
      <div class="col-md-4">
        <button (click)="AddPayment()" class="btn btn-secondary btn-rounded pull-right mt-25">Accept Manual payment</button>
      </div>
      <div class="col-md-2">
        <button *ngIf="currentUser.startDate" [routerLink]="['/ownerDashboard','userList']" class="btn btn-secondary btn-rounded btn-danger mt-25">Cancel</button>
      </div>
    </div>
    <hr>
    <div class="card__body">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <form action="" class="form">
            <div class="form-group">
              <label for="">Title</label>
              <input disabled="true" type="text" class="form-control" placeholder="Manual">
              <p class="help-text">Title that user sees</p>
            </div>
            <div class="form-group">
              <label for="">Description</label>
              <input disabled="true" type="text" class="form-control" placeholder="Pay manual via check or bank transfer">
              <p class="help-text">Description that user sees</p>
            </div>
            <div class="form-group">
              <label for="">Display Order</label>
              <textarea disabled="true" [value]="orderDetails" class="form-control" placeholder="Manual" rows="7"></textarea>
              <p class="help-text">This determines the order</p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-30">
    <h3 class="card__subheading">Payment Instructions</h3>
    <hr>
    <div class="card__body">
      <div class="row mb-25">
        <div class="col-md-2">
          <span>Company:</span>
        </div>
        <div class="col-md-4">S-Blox Nordic Aps</div>
        <div class="col-md-4">Smart Blox Middle East and Africa</div>
      </div>
      <div class="row mb-25">
        <div class="col-md-2">
          <span>Address:</span>
        </div>
        <div class="col-md-4">Strandvejan 100, 2900 Hellerup, Denmark</div>
        <div class="col-md-4">2nd Floor, Bridge Tower, Sports City P.O
          <br> Box: 392269, Dubai - U.A.E</div>
      </div>
      <div class="row mb-25">
        <div class="col-md-2">
          <span>Bank:</span>
        </div>
        <div class="col-md-4">Handelsbanken</div>
        <div class="col-md-4">CBI</div>
      </div>
      <div class="row mb-25">
        <div class="col-md-2">
          <span>IBAN:</span>
        </div>
        <div class="col-md-4">DK3976300002057930</div>
        <div class="col-md-4">AE970220000100190021019</div>
      </div>
      <div class="row mb-25">
        <div class="col-md-2">
          <span>SWIFT:</span>
        </div>
        <div class="col-md-4">HANDDKKK</div>
        <div class="col-md-4">CLBIAEAD</div>
      </div>
      <p class="help-text">Displayed to the user when this getway is selected during checkout, Add information here instructing the student on
        how to send payment.</p>
    </div>
  </div>
</div>